:root{
    --primary_color: rgb(255, 255, 186);
    --secondary_color: rgb(112, 0, 0);
}
body{
    margin: 0px;
}
.header{
    background-color: var(--secondary_color);
    color:white;
    padding:10px 10px;
    font-family:sans-serif;
    display: flex;
    justify-content:space-around;
    height: 40px;
    align-items: center;   
}
.h1{
    background-color: var(--primary_color);
    border-radius: 10px;
    overflow: hidden ;  
  }
  
.h1 img{
  height: 30px;
  width: 30px;
}
.h2{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.menu-icon{
  display: none;
}
.container-1{
    background-color: var(--primary_color);
    display: flex;
    flex-direction: row;
    /* height: 550px; */
    padding: 10px 10px;
}
.c1{
  width: 100%;
  margin: 20px;
  /* overflow: hidden; */
  border-radius: 30px;
}
.c2{
  width: 100%;
  text-align: left;
  padding: 10px 10px;
  margin: 20px;
  font-family: sans-serif;
  font-size: 40px;
}
.container-2{
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 40px;

}
.c-22{
    width: 100%;
    text-align:justify;
    padding: 10px 10px; 
    margin: 20px;
    font-size: 30px;
  }
  .c-222{
    padding: 10px 10px;
    margin: 20px;
}
.container-3{
    background-color: var(--primary_color);
    display: flex;
    flex-direction: row;
    
    padding: 10px 10px;
}
.c-33{ 
    width: 100%;
    padding: 10px 10px;
    margin: 10px;
}
.c-333{
  width: 100%;
  background-color: var(--primary_color);
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
  font-size: 22px;
}
.container-4{
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  justify-content:center;
  height: 350px;
  padding: 50px;
}
.mission-vision-item{
  background-color: white;
  padding: 20px;
  height: 290px;
  width: 100%;
  margin: 10px;
  text-align: center;
  word-spacing: 0.3em;
  border-radius: 10px;
  box-shadow: 10px 10px 40px rgb(129, 129, 129);
}
.container-5{
  background-color: var(--primary_color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* height: 700px; */
  /* justify-content:space-around; */
padding: 50px;
}
.con-five-1{
  background-color: white;
  /* width: 200px;
  height: 300px; */
  font-family: sans-serif;
  font-size: 23px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}
.con-five-1 img{
  width: 100%;
  
}
.cart{
  padding: 15px;
  background-color: var(--secondary_color);
  color: white;
}
.con-padding{
  padding: 15px;
}
.container-6{
  background-color:white;
  display:flex;
  justify-content:space-around;
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
}
.c-6{
  padding: 10px;
  margin: 10px;
}
.c-66{
  margin: 10px;
  text-align: justify;
  font-family: sans-serif;
  font-size: 16px;
}
.container-7{
  background-color: var(--primary_color);
  display:flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
}
.c-7{
  margin: 10px;
  padding: 10px;
  text-align: left;
  width: 100%;
}
.c-7-1{
  width: 100%;
  margin: 10px;
  padding: 10px;
}
.footer{
    background-color: var(--secondary_color);
    display:flex;
    justify-content:space-evenly;
    padding: 50px;
}
.footer-2{
  font-size: 20px;
  font-family: sans-serif;
}  
.padding-horizontal-1{
  padding-left: 100px;
  padding-right: 100px;
}
.grid-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
form.grid-2>*{
  height: 30px;
}
form.grid-2>textarea{
  height: 70px;
}
.submit-btn{
  place-self: center;
  
}
.col-span-2{
  grid-column: 1/3;
}
.submit-btn-container{
  display: grid;
  place-content: center;
}

/* *{outline: solid 2px} */

@media (max-width: 1000px) {
  
  .container-1{
    display: block;
    text-align:center;
  }
  .c2{
    text-align: center;
  }
  .container-2{
    display:block;
    
  }
  .c-22{
    text-align: center;
  }
  .container-3{
    display:block;
  }
  .container-5{
    grid-template-columns: repeat(2, 1fr);
  }
  .container-7{
    display: block;
  }
  .c-7{
    text-align: center;
  }
  .h2{
    display: none;
  }
  .h1 img{
    height: 200px;
    width: 200px;
  }
  .header{
    height: 200px;
  }
  .menu-icon{
    display: block;
  }
  
}
@media (max-width: 600px) {
  
}
